<div class="row">
	<div class="col-md-12">
		<h3>Дерево</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Отображение дерева</div>
			<div class="panel-body treeSimple"></div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">Дерево с чекбоксами</div>
			<div class="panel-body treeCB"></div>
		</div>
	</div>
</div>
