<div class="row">
	<div class="col-md-12">
		<h3>Список табов (горизонтальная навигация)</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12 tabsMenu"></div>
</div>
<div class="row">
	<div class="col-md-12 tabsMenuContent"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Вертикальное меню</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-3 vertMenu"></div>
	<div class="col-md-9 vertMenuContent"></div>
</div>
