.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	color: #404040;
}

a:focus {
	outline: none;
}

.nav-tabs > li > a {
	cursor: pointer;
}

.navbar-inner {
	border-radius: 0 !important;
}

.nav-tabs li.active a {
	background-color: #E0F2BE !important;
}

.list-group.list-menu li.list-group-item {
	cursor: pointer
}

.list-group.list-menu li.list-group-item:hover {
	background-color: #eee;
}

.list-group.list-menu li.list-group-item.active {
	background-color: #E0F2BE !important;
	border: 1px solid #DDDDDD !important;
	cursor: inherit;
	color: inherit;
}
