<div class='node-title'>
	{{#if hasChildren}}<span class="glyphicon expander glyphicon-plus"></span>{{/if}}
	<!--{{#if selectable}}<input type="checkbox"/>{{/if}}-->
	<label>{{d.title}}</label>
	<var class="count"></var>
</div>
{{#if hasChildren}}<ul class="node-children"></ul>{{/if}}
