<div class="row">
	<div class="col-md-12">
		<h2>Элементы форм</h2>
	</div>
</div>

<div class="row">
	<legend>Dropdown</legend>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-lg-4 control-label">Radio-кнопки</label>
			<div class="col-lg-6">
				<div class="dropdown" id="dropdown1"></div>
			</div>
			<div class="col-lg-2">
				<div id="dropdown1-result"></div>
			</div>
		</div>
	</form>
</div>

<div class="row">
	<legend>InputSelector</legend>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-lg-4 control-label">Input со списком предустановленных вариантов</label>
			<div class="col-lg-4">
				<div id="inputSelector"></div>
			</div>
			<div class="col-lg-4">
				<div id="inputSelector-result"></div>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<legend>Список кнопок</legend>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-lg-4 control-label">Radio-кнопки</label>
			<div class="col-lg-6" id="listButtons1"></div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Radio-кнопки с выбором по-умолчанию</label>
			<div class="col-lg-6" id="listButtons2"></div>
		</div>
		<div class="form-group">
			<label class="col-lg-4 control-label">Checkbox-кнопки с выбором по-умолчанию</label>
			<div class="col-lg-6" id="listButtons3"></div>
		</div>
	</form>
</div>
